header {
  display: block;
  overflow: hidden;
  background: -webkit-linear-gradient(to right, #00a3f2, #2167b2);
  background: -o-linear-gradient(to right, #00a3f2, #2167b2);
  background: -moz-linear-gradient(to right, #00a3f2, #2167b2);
  background: linear-gradient(to right, #00a3f2, #2167b2);
  padding: 15px 0;
  border-bottom: 4px solid #485164;
}
header .logo {
  width: 200px;
  margin: 0 auto;
  max-width: 100%;
}
